/* define colors #mid */

/* text-color */
.card > a {
  color: #2c3e50;
}
/* card */
.card-left-circle {
  background-color: #da471d !important;
}
/* timeline -> bg-color */
#timeline {
  color: #2c3e50;
  background-color: #b7cccf;
}
/* card -> bg-color and border-color */
.card {
  background-color: #f5f7fa;
  border: 1px solid #9699a0;
}
/* timeline-left-line -> bg-color e6cc9e */
#left-line {
  background-color: #e4d5b6;
}
/* timeline-left-line-circle -> bg-color and border-color */
.year-circle {
  background-color: #e4d5b6;
  border: 1px solid #e4d5b6;
}
/* card-img -> border-color */
.card-img {
  border: 1px solid #e4d5b6;
}
/* card-line -> bg-color */
.card-left-line {
  background-color: #e4d5b6;
}
