/* scss variables */
$white: white;
$gray: gray;
$transparent: transparent;

$normal-text: #2c3e50;

$main: #60bece;
$study: #97cf57;
$study-border: #94cf55;
$study-dark: #7fb349;

$red: #f5af7d;
$red-border: #e89954;
$red-dark: #e89954;
/*
$red: #f8b500;
$red-border: #e89954;
$red-dark: #dba000;
*/
/*
$red: #e86161;
$red-border: #e35252;
$red-dark: #ba4c4c;
*/

$close-button: #e6e6e6;

$top-background: #f0f0f0;

$card-background: #fcfcfc;
$card-border: #dbdbdb;

$tl-circle-bg: #bababa;

$works-main: #bababa;
$works-background: #f2f2f5;
$works-checkbox-border: #c7c7c7;

$notfound-bg: #90c21e;
$notfound-sky: #57bcf2;
