/* scss variables */
$white: white;
$gray: gray;
$transparent: transparent;

$normal-text: #2c3e50;

$main: #60bece;
$study: #97cf57;
$study-border: #94cf55;
$study-dark: #7fb349;

$close-button: #e6e6e6;

$top-background: #f0f0f0;

$card-background: #fcfcfc;
$card-border: #dbdbdb;

$tl-circle-bg: #bababa;

$works-main: #bababa; /* #e86161 */
$works-background: #f2f2f5;
$works-checkbox-border: #c7c7c7;

$notfound-bg: #90c21e;
$notfound-sky: #57bcf2;
