/* define colors #test */

/* text-color */
.card > a {
  color: #2c3e50;
}
/* card */
.card-left-circle {
  background-color: #82b349 !important;
}

/* timeline -> bg-color */
#app {
  color: #2c3e50;
  background-color: #fdfcfc;
}
#timeline {
  color: #2c3e50;
  background-color: #f4f5f7;
}
.year-text {
  color: #ffffff;
}
/* card -> bg-color and border-color */
.card {
  background-color: #fcfcfc;
}
/* timeline-left-line -> bg-color */
#left-line, .year-about {
  background-color: #c7c7c7;
}
/* timeline-left-line-circle -> bg-color and border-color */
.year-circle {
  background-color: #c7c7c7;
}
.colBase > .year-circle {
  border: 1px solid #9699a0;
}
/* card-img -> border-color */
.card-img {
  border: 1px solid #c7c7c7;
}
/* card-line -> bg-color */
.card-left-line {
  background-color: #c7c7c7;
}
