/* define colors #alps */

/* text-color */
.card > a {
  color: #2c3e50;
}
/* card */
.card-left-circle {
  background-color: #f4f5f7 !important;
}
/* timeline -> bg-color */
#timeline {
  color: #2c3e50;
  background-color: #84c0da;
}
/* card -> bg-color and border-color */
.card {
  background-color: #fcfcfc;
  border: 1px solid #9699a0;
}
/* timeline-left-line -> bg-color */
#left-line {
  background-color: #005eac;
}
/* timeline-left-line-circle -> bg-color and border-color */
.year-circle {
  background-color: #005eac;
  border: 1px solid #005eac;
}
/* card-img -> border-color */
.card-img {
  border: 1px solid #005eac;
}
/* card-line -> bg-color */
.card-left-line {
  background-color: #005eac;
}
